.navlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-right: 2rem;
  cursor: pointer;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed {
    display: none !important;
}

.MuiTypography-root.MuiTypography-body1 {
    color: #fff;
}

.MuiTypography-root.MuiTypography-body1 {
  color: #bababa;
}
.css-doylc9 {
  border-bottom: none !important;
}
